<DOCTYPE! html>
<html>
<head>
<title>Add Event</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

<style type="text/css">

body {
	color: white;
	background: url(http://wallpapercave.com/wp/Q4VECQE.jpg) ;
	background-position: center;
	background-size: cover;
	font-family: "Lato", sans-serif;


}
.jumbotron{
	background:transparent; 
}
.asdf{
	background:rgba(40,40,40,0.6);
	max-width: 300px; 
	height: 120$
}
</style>
</head>

<body>

<body>
<div class="container-fluid text-center">


	<div class="jumbotron">
	<h1>Add Event</h1>
	<FONT FACE="Monaco"></FONT> 
	<FONT SIZE="300"></FONT>
	</div>
<div class="container text-center asdf">
	
<form action="{{url_for('add_event')}}" method="post" class="form-inline" role="form">
<div class="form-group">
	<input type="text" name="name" class="form-control" placeholder="Name">
</div><br><br>
<div class="form-group">
	<input type="date" name="date" class="form-control" placeholder="Date">
</div>
<br>
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment" placeholder="Description of the event"></textarea>

<br>

<div class="form-group">
	<label for="style"><h3>Type of event:</h3></label><br>
	<label><input type="radio" name="style" class="form-control"  value="music"> Music</label>
	<label><input type="radio" name="style" class="form-control" value="food"> Food </label>
	<label><input type="radio" name="style" class="form-control" value="tech"> Tech</label>
	<label><input type="radio" class="form-control" name="style" value="party">  Party</label>
	<label><input type="radio" class="form-control" name="style" value="outdoor">  Outdoor</label>
	<label><input type="radio" class="form-control" name="style" value="confrence">  Confrence</label>
	<label><input type="radio" class="form-control" name="style" value="sports">  Sports</label>
</div><br><br>
<div class="form-group">
	<input type="text" name="location" class="form-control" placeholder="Location">
</div><br><br>
	<input type="submit" class="btn btn-success" value="Submit">

</form>

<a href="{{url_for('main_page')}}" class="btn btn-info" role="button">Cancel</a>

</div>

</div>	

</body>
</html>
