<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', 
filename='style.css') }}">

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>

<div class="container">

<div class="page-header">
<h1>Add Event</h1>
</div>

<form action="{{url_for('add_event')}}" method="post">
<input type="text" name="name" placeholder="Name">

<br>
<input type="text" name="date" placeholder="Date">
<br>
<input type="text" name="type" placeholder="type">
<br>
<input type="text" name="location" placeholder="Location">
<br>
<input type="submit" value="Submit">

<br>
</form>

<a href="{{url_for('main')}}" class="btn btn-info" role="button">Cancel</a>

</div>

<footer class="footer">
<div class="container">
<p class="text-muted text-footer-custom">Y2 Final Projects</p>
</div>
</footer>

</body>
</html>
