<DOCTYPE! html>
<html>
<head>
<title>Add Event</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
<style type="text/css">
	.asdf {
    padding: 80px 120px;
    background: url(http://wallpapercave.com/wp/Q4VECQE.jpg) ;
        background-position: center;
        background-size: cover;
}
h1 {
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: white;
}
	
</style>
</head>

<body>

<div class="container">
<body class="asdf">
<div class="container-fluid text-center">


	<div class="page-header">
	<h1>Add Event</h1>
	</div>

<form action="{{url_for('add_event')}}" method="post">
<input type="text" name="name" placeholder="Name">

<br>
<input type="text" name="date" placeholder="Date">
<br>
<input type="text" name="style" placeholder="type">
<br>
<input type="text" name="location" placeholder="Location">
<br>
<input type="submit" value="Submit">

<br>
</form>

<a href="{{url_for('main')}}" class="btn btn-info" role="button">Cancel</a>

</div>


</body>
</html>
