<DOCTYPE! html>
 <html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>EDIT INFO</title>
</head>

<style type="text/css">
body{
	background-color:#14536D;

}
.asdf{
	max-width: 600px;

	}
.jumbotron{
	background-color:#14536D;
	color: white;
}
.bg1{
	background-color:#528E83;
		border-radius: 25px 25px 0px 0px;

}
.bg2{

	background-color:#88A892
}
.bg3{

	background-color: #C2CC96;
	align-self: center;
}
.bg4{
		border-radius: 0px 0px 25px 25px;

	background-color: #CC1243
}

</style>
<body>
<div class="container-fluid text-center ">
<div class="jumbotron">
		<h1>
			Edit Your Info
		</h1>
		<br>
		<h3>
			<em>Here you can edit your information about yourself, which will change your event list!</em>
		</h3>
</div>
	<br><br>
<div class=" bg1 asdf container-fluid">
<h1>           </h1>
		<form action="{{url_for('edit_info')}}" class="form-group asdf" method="post" role="form">
		<div class="form-control">
			<label for="name">Name <input type="text" name="name" value="{{person.name}}"></label><br>
		</div>
		<div class="form-control">
			<label for="sir_name">Last name <input type="text" name="sir_name" value="{{person.sir_name}}"></label><br>
		</div>
</div>
<div class="bg2 asdf container-fluid">
		<label>	
		Male
		{%if person.gender == male%}
		<input type="radio" name="gender" value="male" required checked="checked">
		{%else%}
		<input type="radio" required name="gender" value="male">
		{%endif%}
		</label>
		
		<label>
		Female	
		{%if person.gender == female%}
		<input type="radio" required name="gender" value="female" checked="checked">
		{%else%}
		<input type="radio" required name="gender" value="female">
		{%endif%}
		</label>
		
		<label>
		Other
		{%if person.gender == other%}
		<input type="radio" required name="gender" value="other" checked="checked">
		{%else%}
		<input type="radio" required name="gender" value="other">
		{%endif%}
		</label>
		<div class="form-control">
			<label for="birth_date">Birthdate <input type="text" name="birth_date" value="{{person.birth_date}}"></label><br>
		</div>
</div>
<div class="asdf container-fluid bg3">
	
		<div class="form-control">
			<label for="country">  Country  <input type="text" name="country" value="{{person.country}}"></label><br>
		</div>
		<div class="form-control">
			<label for="city">City <input type="text" name="city" value="{{person.city}}"></label><br>
		</div>
		<div class="form-control">
			<label for="password">Password <input type="text" name="password" value="{{person.password}}"></label><br>
		</div>
		<br>
		<br>
</div>
<div class=" asdf container-fluid bg4">
		<h4>Events you liked :</h4>
		<br>

		<label>	
		Music
		{%if person.new_event_fav == music%}
		<input type="radio" name="event_fav" value="music" checked>
		{%else%}
		<input type="radio" name="event_fav" value="music">
		{%endif%}
		</label>
		
		<label>
		Food	
		{%if person.new_event_fav == food%}
		<input type="radio" name="event_fav" value="food" checked>
		{%else%}
		<input type="radio" name="event_fav" value="food">
		{%endif%}
		</label>
		
		<label>
		Technology	
		{%if person.new_event_fav == tech%}
		<input type="radio" name="event_fav" value="tech" checked>
		{%else%}
		<input type="radio" name="event_fav" value="tech">
		{%endif%}
		</label>
		<br>
		<br>
		</div>
		<input type="submit" class="btn btn-success" name="submit_edit_success" value="Submit">
		</form>	
		<h1></h1>
		<h1></h1>
	</div>
</div>
</div>
</div>
</body>
</html>