<DOCTYPE! html>
<html>
<head>
<link rel="stylesheet" type="text/js" href="{{ url_for('static', filename='javascript.js') }}">
<!-- Latest compiled and minified CSS --> 
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
<!-- jQuery library --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<!-- Latest compiled JavaScript --> 
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
	<title>log in </title>
</head>
<style type="text/css">
.container-fluid{
	padding-top: 70px;
	padding-right: 100px;
	padding-left: 100px;
	color: white;
}
body{
	background:url(http://bgfons.com/upload/wood%20_texture553.jpg);
	background-size: cover;
	font-family: "Lato", sans-serif;

}
</style>
<body>
<div class="container-fluid text-center">
<div class="page-header">
	<h1>LOGIN</h1>
</div>
<div class="container text-center">

<form class="form-inline" role="form" action="{{url_for('log_in')}}" method="post">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Username" name="username" required="required">
	<br><br>
		<input type="password" placeholder="Password" required="required" class="form-control" name="password">
	<br>
<br>
	<button type="submit" class="btn btn-default">Submit</button>
	</div>
</form>

</div>

</div>

</body>
</html>