<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Bucket List</h1>
  <p></p> 
  
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Create</h3>
      <p></p>
      <p>With Bucket List YOU choose what your goals look like, and we help you organize and achieve them.</p>
    </div>
    <div class="col-sm-4">
      <h3>Experience</h3>
      <p></p>
      <p></p>
    </div>
    <div class="col-sm-4">
      <h3>Share</h3>        
      <p></p>
      <p></p>
    </div>
  </div>
</div>

</body>
</html>