<DOCTYPE! html>
<!DOCTYPE html>
<html>
<head>
	<title>SIGN UP</title>
</head>
<body>
<div class="container">

	<div>
		<h1>
			SIGN UP NOW!
		</h1>
		<br>
		<h3>
			Here you need to fill your information about yourself!
		</h3>
	</div>
	<div>	
		<form action="{{url_for('edit_info')}}" method="post" role="form">
		name<input type="text" name="name" placeholder="whats youre name"><br>
		sir_name<input type="text" name="sir_name" placeholder="youre sir name"><br>
		gender<br>
		male<input type="radio" name="gender" value="male"><br>
		female<input type="radio" name="gender" value="female"><br>
		other<input type="radio" name="gender" value="other"><br>
		birth_date<input type="text" name="birth_date" placeholder="example: 28-06-1999"><br>
		counrty<input type="text" name="counrty" placeholder="your country"><br>
		city<input type="text" name="city" placeholder="where do you live"><br>
		user_name<input type="text" name="user_name" placeholder="user name" "><br>
		password<input type="password" name="password" placeholder="password">

		<input type="submit" name="submit_edit_info" value="Submit">
	</div>
</body>
</html>