<DOCTYPE! html>
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
<!-- jQuery library --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<!-- Latest compiled JavaScript --> 
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 

	<title>SIGN UP</title>
</head>
<body>
<div class="container">

	<div>
		<h1>
			SIGN UP NOW!
		</h1>
		<br>
		<h3>
			Here you need to fill your information about yourself!
		</h3>
	</div>
	<div>	
		<form action="{{url_for('edit_info')}}" method="post" role="form">
		Name<input type="text" name="Name" placeholder="Whats youre name"><br>
		Sir-Name<input type="text" name="sir_name" placeholder="Youre Sir-Name"><br>
		Gender<br>
		Male<input type="radio" name="gender" value="male"><br>
		Female<input type="radio" name="gender" value="female"><br>
		Other<input type="radio" name="gender" value="other"><br>
		Birth_Date<input type="text" name="birth_date" placeholder="Example: 28-06-1999"><br>
		Counrty<input type="text" name="counrty" placeholder="Your country"><br>
		City<input type="text" name="city" placeholder="Where do you live"><br>
		Username<input type="text" name="Username" placeholder="Username" "><br>
		Password<input type="password" name="password" placeholder="Password"><br>

		<input type="submit" name="submit_edit_info" value="Submit">
	</div>
</body>
</html>